.card {
    width: 400px;
    min-height: 576px;
    position: relative;
    background-color: white;
    border-radius: 10px;
}


.card__tag{
    width: 88px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 24px;
    left: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    display: none;
    
}

.card__tag_active{
    display: flex; /* none*/
    justify-content: center;
    align-items: center;
}

.card__delete{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;    
    border-radius: 8px;
    outline: none;
    border: none;
    background: url(../../images/trashdefault.png) #FFFFFF center no-repeat;
    
    
}

.card__delete:hover{  
    cursor: pointer;
    background: url(../../images/trash.png) #FFFFFF center no-repeat;
    opacity: 0.9;
    transition:  opacity linear .2s;    
}

.card__delete:hover::before{
    content: 'Убрать из сохраненных';
    width: 159px;
    height: 40px;
    position: absolute;
    right: 47px;
    top: 0;
    background:#FFFFFF;
    border-radius: 10px;
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.card__favorite{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;    
    border-radius: 8px;
    outline: none;
    border: none;
    background: url(../../images/marked.png) center no-repeat;
}
.card__favorite:hover::before{
    content: 'Убрать из сохраненных';
    width: 159px;
    height: 40px;
    position: absolute;
    right: 47px;
    top: 0;
    background:#FFFFFF;
    border-radius: 10px;
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;    
    align-items: center;
    
}


.card__saved{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 24px;
        right: 24px;    
        border-radius: 8px;
        outline: none;
        border: none;
        background: url(../../images/savedDefault.png) #FFFFFF center no-repeat;
}

.card__saved:hover{
    background: url(../../images/savedHover.png) #FFFFFF center no-repeat;
    opacity: 0.9;
    transition:  opacity linear .2s;
}

.card__saved_off:hover::before{
    content: 'Войдите, чтобы сохранять статьи';
    width: 182px;
    height: 40px;
    position: absolute;
    right: 47px;
    top: 0;
    background:#FFFFFF;
    border-radius: 10px;
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: center;    
    align-items: center; 
}


.card__saved_on:hover::before{
    content: 'Сохранить';
    width: 182px;
    height: 40px;
    position: absolute;
    right: 47px;
    top: 0;
    background:#FFFFFF;
    border-radius: 10px;
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.card__image{
    width: 400px;
    height: 272px;
    border-radius: 10px 10px 0 0;
    vertical-align: auto;
}

.card__link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 20px 24px 24px;
    cursor: pointer;
}

.card__data{
    margin: 0 0 12px 0;
    font-family: 'Sourcesans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;  
    color: #B6BCBF;
}

.card__title{
    margin: 0 0 16px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.card__subtitle{
    margin: 0 0 18px 0;
     font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    height: 130px;
    overflow: hidden;
    hyphens: auto;
    text-overflow: ellipsis;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;  
}

.card__source{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #B6BCBF;
}

@media screen and (max-width:896px){
  .card{
      width: 224px;
      min-height: 420px;
  }  

  .card__image{
      width: 224px;
      height: 150px;
  }
  .card__title{
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 10px 0;
  }
  .card__delete:hover::before{
    right: -3px;
    top: 51px;
  }
  .card__saved:hover::before{
    right: -3px;
    top: 51px; 
  }
}

@media screen and (max-width:720px){
    .card{
        width: 288px;
        min-height: 440px;
    }
    .card__image{
        width: 288px;
        height: 196px;
    }
    .card__delete:hover::before{
        right: -5px;
        top: 50px;
      }
      .card__saved:hover::before{
        right: -5px;
        top: 50px; 
      }
      .card__title{
        font-size: 26px;
        line-height: 30px;
    }
   .card__data{
       margin: 0 0 10px 0;
   }   
      
}